<div id="homeContainer" class="contentContainer">
	<div class="container">
		<div class="row">
			<div class="col-lg-5 col-md-5 col-sm-8 col-xs-9 bhoechie-tab-container">
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bhoechie-tab-menu">
					<div class="list-group">
						<a href="#" class="list-group-item active text-center">
							<h4 class="glyphicon glyphicon-home"></h4><br/>Home
						</a>
						<a href="#" class="list-group-item text-center">
							<h4 class="glyphicon glyphicon-tasks"></h4><br/>Task Monitor
						</a>
						<a href="#" class="list-group-item text-center">
							<h4 class="glyphicon glyphicon-home"></h4><br/>Summary
						</a>
						<a href="#" class="list-group-item text-center">
							<h4 class="glyphicon glyphicon-user"></h4><br/>Account
						</a>
						<a href="#" class="list-group-item text-center">
							<h4 class="glyphicon glyphicon-wrench"></h4><br/>Admin
						</a>
					</div>
				</div>
				<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bhoechie-tab">				
					<div class="bhoechie-tab-content active">
						<home-directive></home-directive>
					</div>
				
					<div class="bhoechie-tab-content">
						<task-monitor></task-monitor>
					</div>				
					<div class="bhoechie-tab-content">
						<summary-chart></summary-chart>
					</div>					
					<div class="bhoechie-tab-content">
						<div style="text-align:center">
							<h1 class="glyphicon glyphicon-user" style="font-size:12em;color:#55518a"></h1>
							<h2 style="margin-top: 0;color:#55518a">Account detail</h2>
							<h3 style="margin-top: 0;color:#55518a">This page can show user profile details</h3>
						</div>
					</div>					
					<div class="bhoechie-tab-content">
						<div style="text-align:center">
							<h1 class="glyphicon glyphicon-cog" style="font-size:12em;color:#55518a"></h1>
							<h2 style="margin-top: 0;color:#55518a">Admin</h2>
							<h3 style="margin-top: 0;color:#55518a">Mange configuration from this page</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>