<table id="homeContainer" class="contentContainer" contentContainerHeight>
    <tbody>
        <tr>
            <td>
                <table style="margin: 10px auto 0px auto;">
                    <tr>
                        <td style="text-align: center; vertical-align: top">
                            <div class="row">
                                <div class="well" style="width: 230px">
                                    <h5>Total Number of Jobs</h5>
                                    <label style="font-size: 50px">1180</label>
                                </div>
                            </div>
                        </td>
                        <td><div style="width:70px">&nbsp;</div></td>
                        <td style="text-align: center; vertical-align: top; margin-left: 50px">
                            <div class="row">
                                <div class="well" style="width: 230px">
                                    <h5>Total Number of Active Jobs</h5>
                                    <label style="font-size: 50px; color: #0E3C54">966</label>
                                </div>
                            </div>
                        </td>
                         <td><div style="width:70px">&nbsp;</div></td>
                        <td style="text-align: center; vertical-align: top">
                            <div class="row">
                                <div class="well" style="width: 230px">
                                    <h5>Total Number of Inactive Jobs</h5>
                                    <label style="font-size: 50px; color: #0E3C54">214</label>
                                </div>
                            </div>
                        </td>
                    </tr>
                   <tr>
                       <td colspan="5">
                           <hr>
                       </td>
                   </tr>
                    <tr>
                        <td style="text-align: center; margin-top: 30px" colspan="5">
                           <div style="text-align:center">
                                <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="btn btn-circle-lg btn-success"><div><h1>912</h1><h5 style="margin-top: -10px">success</h5></div></a>
                                <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="btn btn-circle-lg btn-info"><div><h1>4</h1><h5 style="margin-top: -10px">running</h5></div></a>
                                <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="btn btn-circle-lg btn-warning"><div><h1>10</h1><h5 style="margin-top: -10px">on-hold</h5></div></a>
                                <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="btn btn-circle-lg btn-danger"><div><h1>40</h1><h5 style="margin-top: -10px">failed</h5></div></a>
                           </div>
                        </td>
                    </tr>

                     <tr>
                       <td colspan="5" style="text-align: center">
                           <h4 style="color: #0E3C54">Status of all the Active jobs in the system</h4>
                       </td>
                   </tr>
                </table>
            </td>
        </tr>
    </tbody>
</table>